@import "../../styles//buttons.scss";
@import "../../styles/mixins.scss";
@import "../../styles/gridContainer.scss";

.taskListWindow {
  h1 {
    margin-bottom: 35px;
    text-align: center;
    user-select: none;
  }
}