@import "../../styles//buttons.scss";
@import "../../styles/mixins.scss";

.taskListWindow {
  h1 {
    margin-bottom: 35px;
    text-align: center;
    user-select: none;
  }
}


.gridContainer {
  display: grid;
  width: 800px;
  grid-template: minmax(35px, auto) / repeat(20, 5%);
  background: #f3f3f3;
  justify-content: center;
  align-items: center;
  user-select: none;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(201, 199, 199);
  }

  p {
    width: 100%;
    height: 100%;
    @include alignment;
    padding: 10px;

    &:hover {
      text-decoration: underline 2px;
      cursor: pointer;
    }

    &:first-child {
      grid-column: 1 / 7;
    }

    &:nth-child(2) {
      grid-column: 7 / 16;
    }

    &:last-child {
      grid-column: 16 / 21;
    }

    &:not(:last-child) {
      border-right: 1px solid rgb(201, 199, 199);
    }
  }

  &.headline {
    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  &.list {
    grid-template: minmax(35px, auto) / repeat(20, 5%);

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .actions {
    grid-column: 16 / 21;
    display: grid;
    grid-template: minmax(50px, auto) / repeat(9, 11.1%);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;

    button {
      width: 45px;
      height: 45px;
      border: none;
      cursor: pointer;
      user-select: none;
      border-radius: 50%;
      transition: all 0.1s ease;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1.1);
      }

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      &.edit {
        grid-column: 1 / 4;
        margin: 0 auto;
      }

      &.done {
        grid-column: 4 / 7;
        margin: 0 auto;
      }

      &.delete {
        grid-column: 7 / 11;
        margin: 0 auto;
      }
    }
  }
}